
@import "_variables";

//FONTS

.rufina-regular(@font-size) {
  font-family: 'rufina', serif;
  font-weight: 400;
  font-size: @font-size;
}

.rufina-bold(@font-size) {
  font-family: 'rufina', serif;
  font-weight: 700;
  font-size: @font-size;
}

.roboto-light(@font-size) {
  font-family: 'roboto', sans-serif;
  font-weight: 300;
  font-size: @font-size;
}

.roboto-regular(@font-size) {
  font-family: 'roboto', sans-serif;
  font-weight: 400;
  font-size: @font-size;
}

.roboto-medium(@font-size) {
  font-family: 'roboto', sans-serif;
  font-weight: 500;
  font-size: @font-size;
}

//TITLE STYLE

.h2-style {
  color: @black-color;
  .rufina-bold(42px);
}

.under-h2-text-style {
  color: @regular-font-color;
  .roboto-light(15px)
}


